<div class="profIcon">
	<div class="profIcon__text"><%= text %><br><%= text2 %></div>
	<div class="profIcon__img">
		<a href="#<%= img %>"><img src="/assets/img/<%= img %>.png"></a>
	</div>
	<div class="profIcon__text"><%= name %></div>
</div>
