<div class="profIcon">
	<div class="profIcon__text"><%= text %><br><%= text2 %></div>
	<a href="#<%= img %>" class="profIcon__img">
		<img src="/assets/img/<%= img %>.png">
	</a>
	<div class="profIcon__text"><%= name %></div>
</div>