<%- include('common/_header', {
	page: 'about',
	title: 'AN BIZGYMについて',
	description: 'AN BIZGYMについ',
	noindex: false
}); %>

<%- include('common/_pankuzu2', {
  page: 'feature',
	title: 'セカンドキャリア養成塾',
	title2: 'AN BIZGYMについて',
}); %>

<div class="container">

	<!-- ここに動画埋め込み予定 -->

	<!-- /ここに動画埋め込み予定 -->

	<%- include('common/_bar', {
		text: 'BIZGYMについて',
	}); %>

	<div class="support__text">
		令和3年改正高年齢者雇用安定法が施工され、70歳までの就業確保の努力義務が課せれました。一見70歳までの就業が確保されたように見えますが、多くの企業では60歳を超えると、役職も給与も大幅に下がり、閑職に追いやられるケースが少なくありません。しかし、健康寿命が延びる中、まだまだこのベテラン世代の知識と経験は社会の役に立ちます。そしてこの世代の力を活かすことが日本の生産性をアップすることになると私たちは考えています。人生は二毛作。2回目の仕事はもっと好奇心に満ちたワクワクしたものでありたいと思います。AN BIZGYMではこれから定年を迎える方々に起業の楽しさとその方法について仲間と一緒に学ぶ場を提供しています。
	</div>

	<%- include('common/_bar', {
		text: 'カリキュラム',
	}); %>

	<figure class="about__img">
		<img src="/assets/img/career.png">
	</figure>

	<%- include('common/_bar', {
    text: '講座スケジュール',
	}); %>

	<figure class="about__img">
		<img src="/assets/img/schedule.png">
	</figure>

	<%- include('common/_btn'); %>

</div>

<%- include('common/_footer'); %>