<%- include('common/_header', {
	page: 'branding',
	title: 'ブランディング',
	description: 'ページの説明',
	noindex: false
}); %>

<%- include('common/_pankuzu2', {
  page: 'branding',
	title: 'コンサルティング',
	title2: 'ブランディング',
}); %>

<div class="top__main responsive"><img src="/assets/img/branding.png"></div>

<div class="container">

	<div class="support__text first">
		<span>会社、製品のブランディングサポート</span>
		ブランドとは世界的にビジネスを展開する大企業やその製品、またいわゆる老舗などと呼 ばれる暖簾や看板のことではありません。企業や製品のもつ特徴やその風情までをコンシューマーと共有し、互いに期待し合う状態(エンゲージメント)をブランドと呼び、ブランドを認識・継続させ企業や製品の価値を上げる作業をブランディングと言います。ANサポーターズでは、様々なトップ企業のブランディングに携わってきたコンサルタントが貴社の隠れたブランド資産を弊社独自のブランディングメソッド「RABADA法」によって見つけ出し、貴社の企業価値を高めます。
	</div>

	<div class="support__text">
		<span>貴社内に及ぼすブランディングの二次的価値</span>
		貴社や貴社製品の社会的存在価値まで掘り下げて行われるブランディング活動は貴社社員の働くことのモチベーションを高めロイヤリティを向上させる効果があり、離職率の低下や新規社員獲得にも貢献します。
	</div>

	<%- include('common/_bar', {
  text: 'ブランディングの５つのステップ',
}); %>

	<div class="branding__step first">
		<span>◆Step1: ブランディングを知る</span>
		・ブランディングセミナー ・ケーススタディ
	</div>
	<div class="branding__step">
		<span>◆Step2 : ヒヤリング</span>
		・目的と必然性の確認 ・現状の問題点の発見
	</div>
	<div class="branding__step">
		<span>◆Step3: ブランド資産の抽出</span>
		・ブランド戦略チームの編成 ・スケジューリング ・RABADAワークショップ
	</div>
	<div class="branding__step">
		<span>◆Step4: ブランドの構築</span>
		・ブランドステートメントの開発 ・企業理念への落とし込み
	</div>
	<div class="branding__step">
		<span>◆Step5: ブランドの定着</span>
		・ビジュアルアイデンティ策定 ・ブランドブック編纂 ・自社サイトの再構築
	</div>

	<div class="support__text">●期間:6〜12ヶ月</div>

	<div class="support__text">
		<span>ブランディングされた企業や製品のマーケティングのサポート</span>
		掘り起こした企業や製品のブランドの魅力とコンシューマーのニーズ、そしてマーケットの競合状況を分析しBig Ideaと呼ばれるコミュニケーションコンセプトを設定。より魅力的に、より早くロスなくコンシューマーに伝えていく作業がマーケティングです。ANサポーターズでは、マーケティング分析に止まらず各種プロモーションや貴社のウェブサイトの構築やウェブ集客に至るまでベテランのコンサルタントがサポートすることが可能です。
	</div>

	<figure>
		<img src="/assets/img/support.png">
	</figure>

	<%- include('common/_backTop'); %>


</div>

<%- include('common/_footer'); %>
